.container-app {
    width: 100vw;
    height: 100vh;
    background-color: rgb(168, 168, 168);
    .header {
        width: 100%;
        padding: 10px;
        padding-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .navegacion {
            width: 100%;
            min-width: 400px;
            max-width: 1500px;
            background-color: bisque;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                width: 20%;
                min-width: 200px;
                background-color: aquamarine;
            }
            .menu {
                width: 30%;
                ul {
                    font-size: 1.5vw;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    .input {
                        width: 150px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: 2px solid #000;
                        h5 {
                            font-weight: 100;
                        }
                    }
                }
            }
            .menu2 {
                width: 300px;
                ul {
                    font-size: 20px;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    .input {
                        width: 150px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: 2px solid #000;
                        h5 {
                            font-weight: 100;
                        }
                    }
                }
            }
        }
    }
}
